# Ticker price: get historical prices from Quandl

## The project initialization

In [2]:
import numpy as np
import quandl
import csv
import datetime as dt
import time
import os

## Target dates
Please setup the time frame for your analysis. The start and the end dates should be formated "yyyy-mm-dd".

__the start date will be included in resuld but end date not.__

In [3]:
start_date = dt.datetime.strptime('2006-01-01', '%Y-%m-%d')
end_date = dt.datetime.strptime('2016-01-02', '%Y-%m-%d')

data_raw_path = os.path.join('..', 'data_raw')
data_processing_path = os.path.join('..', 'data_processing')

## Quandl api key
Quandl library requare you to include your api key to every request. 
Please set variablee Q_API_KEY with your current api key.
For more information about quandl API please follow [Quandl API Documentation](https://docs.quandl.com/)

In [4]:
#todo remove this key or move it in separate file
QUANDLE_API_KEY = "6xuzY1esVsm6ghCi7ocz"

# Download close prices
_The following chapter will downlad historical prices for a given list of tickers_

In [5]:
quandl.ApiConfig.api_key = QUANDLE_API_KEY

## Load list of target tickers

In [6]:
tickers_file = os.path.join(data_processing_path, 'tickers', 'tickers.csv')

_Please make sure what tickers.txt exist, in the output of the next cell you should see the first 5 tickers codes in your tickers.txt, if not you need to go to the "ticker processing" notebook_

In [7]:
!head -n 5 $tickers_file

## Download close prices

Close prices for every day in given time frame will be saved in directory 'closePrices' which will be cleaned up at the shutdown chapter of this notebook

In [27]:
start_date_string = start_date.strftime('%Y-%m-%d')
end_date_string = end_date.strftime('%Y-%m-%d')
price_path = os.path.join(data_processing_path, 'prices', 'quandl')

if not os.path.isdir(price_path):
    os.mkdir(price_path)

with open(tickers_file, 'r') as f_r:
    reader = csv.DictReader(f_r)

    calls = 0
    for row in reader:
        data_result = None
        try:
            data_result = quandl.get(row['ticker_quandl'], start_date=start_date_string, end_date=end_date_string)
        except Exception as ex:
            print("Error for ticker %s: %s" % (row['ticker_index'], ex))

        if data_result is not None:
            calls += 1;
            file_result = os.path.join(price_path, "%s.csv" % row['ticker_index'])
            data_result.to_csv(file_result, encoding='utf-8')
        
        if calls > 299:
            calls = 0;
            time.sleep(10);

Error for ticker VZ_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker CAT_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker PFE_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker MMM_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker WMT_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker CVX_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker INTC_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker GS_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker HD_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker MFST_NASDAQ: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker MRK_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker JNJ_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker MCD_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker T_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker IBM_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker PG_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker XOM_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker BA_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker GE_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker DD_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker UNH_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker DIS_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker CSCO_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker KO_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker AXP_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker TVE_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker NKE_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker V_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker UTX_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker JPM_NASDAQ: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.
Error for ticker DN_CAC: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker XTA_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker ENRC_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker RSDA_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker BTI_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker SHPG_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker HSBC_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker BT_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker BG_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker PSO_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
Error for ticker TT_FTSE: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.


### Test
_use it to test presense of a ticker code in Quanl_

In [11]:
start_date_string = start_date.strftime('%Y-%m-%d')
end_date_string = end_date.strftime('%Y-%m-%d')

#returns 403 for free account
#quandl.get('XNYS/AXP', start_date=start_date_string, end_date=end_date_string)

#returns 404
#quandl.get('FSE/ALL_XP', start_date=start_date_string, end_date=end_date_string) 

#expected return
quandl.get('LSE/GKN', start_date=start_date_string, end_date=end_date_string)

               Price    High     Low      Volume  Last Close  Change  Var%
Date
2006-03-16  221.0327     NaN     NaN   8684378.0    221.0327     NaN   NaN
2006-03-17  221.7076     NaN     NaN   9019770.0    221.7076     NaN   NaN
2006-03-20  225.0822     NaN     NaN   6968807.0    225.0822     NaN   NaN
2006-03-21  223.5636     NaN     NaN   6718781.0    223.5636     NaN   NaN
2006-03-22  224.7447     NaN     NaN   6964714.0    224.7447     NaN   NaN
2006-03-23  221.3702     NaN     NaN   6212029.0    221.3702     NaN   NaN
2006-03-24  222.5513     NaN     NaN   9912789.0    222.5513     NaN   NaN
2006-03-27  226.6007     NaN     NaN  10617177.0    226.6007     NaN   NaN
2006-03-28  228.4567     NaN     NaN  17952621.0    228.4567     NaN   NaN
2006-03-29  227.4444     NaN     NaN   6684658.0    227.4444     NaN   NaN
2006-03-30  227.1069     NaN     NaN   4979214.0    227.1069     NaN   NaN
2006-03-31  224.4073     NaN     NaN  10931193.0    224.4073     NaN   NaN
2006-04-03  225.9258     NaN     NaN   9394611.0    225.9258     NaN   NaN
2006-04-04  225.5884     NaN     NaN   9235170.0    225.5884     NaN   NaN
2006-04-05  227.4444     NaN     NaN   4662238.0    227.4444     NaN   NaN
2006-04-06  226.7695     NaN     NaN   6696279.0    226.7695     NaN   NaN
2006-04-07  224.0698     NaN     NaN   3706082.0    224.0698     NaN   NaN
2006-04-10  223.3949     NaN     NaN   4571068.0    223.3949     NaN   NaN
2006-04-11  223.3949     NaN     NaN   5463892.0    223.3949     NaN   NaN
2006-04-12  217.4895     NaN     NaN  13925069.0    217.4895     NaN   NaN
2006-04-13  217.1520     NaN     NaN   3932618.0    217.1520     NaN   NaN
2006-04-18  214.4524     NaN     NaN   8450317.0    214.4524     NaN   NaN
2006-04-19  214.1149     NaN     NaN   4350588.0    214.1149     NaN   NaN
2006-04-20  214.2836     NaN     NaN   5524275.0    214.2836     NaN   NaN
2006-04-21  212.4276     NaN     NaN   8397711.0    212.4276     NaN   NaN
2006-04-24  213.6087     NaN     NaN   7934415.0    213.6087     NaN   NaN
2006-04-25  214.1149     NaN     NaN   5220268.0    214.1149     NaN   NaN
2006-04-26  219.3455     NaN     NaN   5889884.0    219.3455     NaN   NaN
2006-04-27  214.6211     NaN     NaN   7518276.0    214.6211     NaN   NaN
2006-04-28  211.5840     NaN     NaN   5400659.0    211.5840     NaN   NaN
...              ...     ...     ...         ...         ...     ...   ...
2015-11-18  296.7000  297.70  288.60   6472090.0    296.7000     4.4  1.51
2015-11-19  301.8000  303.60  298.20   4398634.0    301.8000     5.1  1.72
2015-11-20  299.4000  303.30  298.00   3582592.0    299.4000    -2.4 -0.80
2015-11-23  300.7000  301.20  293.30   3176907.0    300.7000     1.3  0.43
2015-11-24  293.0000  300.60  289.10   3994722.0    293.0000    -7.7 -2.56
2015-11-25  298.0000  298.30  291.40   3213909.0    298.0000     5.0  1.71
2015-11-26  302.1000  303.90  297.20   2890485.0    302.1000     4.1  1.38
2015-11-27  298.4000  301.00  295.50   5333722.0    298.4000    -3.7 -1.22
2015-11-30  300.5000  301.30  296.90   7523731.0    300.5000     2.1  0.70
2015-12-01  301.1000  304.20  300.30   3852476.0    301.1000     0.6  0.20
2015-12-02  299.0000  302.20  296.10   3103284.0    299.0000    -2.1 -0.70
2015-12-03  292.1000  301.40  291.90   4620317.0    292.1000    -6.9 -2.31
2015-12-04  296.3000  296.70  289.60   5489418.0    296.3000     4.2  1.44
2015-12-07  297.0000  299.93  295.70   3730533.0    297.0000     0.7  0.24
2015-12-08  292.2000  297.20  288.15   4683512.0    292.2000    -4.8 -1.62
2015-12-09  295.3000  297.00  288.90   4491265.0    295.3000     3.1  1.06
2015-12-10  295.0000  296.80  291.90   4179493.0    295.0000    -0.3 -0.10
2015-12-11  284.3000  293.35  283.00   4222970.0    284.3000   -10.7 -3.63
2015-12-14  280.4000  289.00  279.10   4138796.0    280.4000    -3.9 -1.37
2015-12-15  293.0000  294.20  282.80   4490079.0    293.0000    12.6  4.49
2015-12-16  297.9000  299.60  291.90   3591981.0    297.9000     4.9  1.67
2015-12-17  299.6000  304.70  298.82   3475599.0    299.6000     1.7  0.57
2015-12-18  296.2000  300.50  294.00   4703148.0    296.2000    -3.4 -1.13
2015-12-21  295.6000  302.90  295.10   2751010.0    295.6000    -0.6 -0.20
2015-12-22  294.7000  298.70  292.70   2279979.0    294.7000    -0.9 -0.30
2015-12-23  307.9000  308.08  297.10   3316374.0    307.9000    13.2  4.48
2015-12-24  305.2000  309.90  305.20    680620.0    305.2000    -2.7 -0.88
2015-12-29  309.4000  309.90  303.80   2096184.0    309.4000     4.2  1.38
2015-12-30  309.2000  309.50  307.20   1898821.0    309.2000    -0.2 -0.06
2015-12-31  308.4000  309.10  306.20   1715462.0    308.4000    -0.8 -0.26

[2466 rows x 7 columns]